/* src/styles/index.css */
@import "tailwindcss";

@theme {
    /*primary*/
    --color-elevare-primary: #2563EB;
    --color-elevare-primary-light: #3B82F6;
    --color-elevare-primary-dark: #1D4ED8;

    /*secondary*/
    --color-elevare-secondary: #7C3AED;
    --color-elevare-secondary-light: #A78BFA;

    /*neutral*/
    --color-elevare-neutral-light: #F9FAFB;
    --color-elevare-neutral-dark: #1F2937;

    /*text*/
    --color-elevare-text-main: #111827;
    --color-elevare-text-muted: #6B7280;

    /*feedback*/
    --color-elevare-success: #10B981;
    --color-elevare-error: #EF4444;
    --color-elevare-warning: #F59E0B;

    /*accent*/
    --color-elevare-accent: #E11D48;

    /* === TIPOGRAFÍA === */
    --font-elevare-sans: "Inter, ui-sans-serif, system-ui, sans-serif";
    --font-elevare-heading: "Poppins, ui-sans-serif, system-ui, sans-serif";

    /*utilities*/
    --color-features: oklch(93% .034 272.788);
    --color-features-responsive: oklab(100% 0 5.96046e-8 / .1);
    --color-tw-ring-color: #fff;

    --skew-
}